@import "tailwindcss";

:root {
  --color-primary: #7F77DD;
  --color-primary-dark: #3C3489;
  --color-primary-light: #EEEDFE;
  --color-accent: #FAC775;
  --color-accent-dark: #BA7517;
  --color-background: #FFF8F0;
  --color-text: #26215C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}
